@font-face {
  font-family: ocp-bold;
  src: url(OfficeCodePro-Bold.woff);
}

@font-face {
  font-family: ocp-medium;
  src: url(OfficeCodePro-Medium.woff);
}

@font-face {
  font-family: ocp-regular;
  src: url(OfficeCodePro-Regular.woff);
}