$yellow: #b58900;
$green: #859900;
$neon-green: #50fa7b;
$pink: #d33682;
$purple: #6c71c4;
$blue: #268bd2;
$red: #dc322f;
$orange: #cb4b16;

$light-grey: #a5a5a5;
$medium-grey: #839496;
$dark-grey: #586e75;

$teal: #859696;
$dark-teal: #5B727A;

$medium-duck: #073642;
$dark-duck: #002b36;

$light-sand: #fdf6e3;
$medium-sand: #eee8d5;
